* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #303030;
    overflow-x: hidden;
    zoom: 1.2;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

 .navbar {
    width: 100%;
    height: 64px;
    background: #211735;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14%;
    color: white;
}



.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: white;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    font-weight: 700;
}

.brand {
    display: flex;
    flex-direction: column;
}

.brand strong {
    font-size: 13px;
    font-weight: 600;
}

.brand span {
    font-size: 8px;
    color: #b8b1c4;
}

 .navbar nav {
    display: flex;
    align-items: center;
    gap: 27px;
}

.navbar nav a {
    color: #aaa4b5;
    font-size: 12px;
}

.navbar nav a:hover {
    color: white;
}

.navbar .download-top {
    background: linear-gradient(90deg, #9333ea, #2563be);
    color: white;
    padding: 10px 19px;
    border-radius: 2px;
}

 .hero {
    width: 100%;
    height: 420px;
    display: flex;
    background: #201633;
}

.hero-left {
    width: 50%;
    height: 420px;
    background: #302253;
    color: white;
    padding-left: 14%;
    padding-top: 105px;
}

.hero-left h1 {
    font-size: 49px;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: 26px;
}

.hero-left p {
    width: 390px;
    font-size: 13px;
    line-height: 1.7;
    color: #eeeeee;
    margin-bottom: 27px;
}


.hero-buttons {
    display: flex;
    gap: 7px;
}

.btn-primary {
    background: white;
    color: #df4a96;
    padding: 12px 20px;
    font-size: 11px;
    border-radius: 3px;
}

.btn-secondary {
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 11px;
    border-radius: 3px;
}

.btn-primary:hover {
    opacity: .85;
}

.btn-secondary:hover {
    background: white;
    color: #302253;
}

.hero-right {
    width: 50%;
    height: 420px;
    position: relative;
    background: linear-gradient( rgba(32, 22, 51, .40),
        ),
        url("../assets/images/hojasFondo.jpg");

    background-size: cover;
    background-position: center;
}


.phone {
    position: absolute;
    width: 150px;
    height: 295px;
    background: #f4f4f4;
    border-radius: 22px;
    left: 20%;
    top: 92px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .35), inset 0 0 0 2px #dddddd;
}

.phone::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 5px;
    background: #aaaaaa;
    border-radius: 10px;
    top: 8px;
    left: 54px;
}

.phone-screen {
    position: absolute;
    top: 17px;
    left: 10px;
    width: 130px;
    height: 260px;
    background: white;
    border-radius: 13px;
    padding-top: 85px;
}

.screen-title {
    width: 70px;
    height: 16px;
    background: #bcbcbc;
    margin: 0 auto 12px;
}

.screen-line {
    width: 92px;
    height: 6px;
    background: #bcbcbc;
    margin: 0 auto 7px;
}

.screen-line.small {
    width: 90px;
}

.screen-button {
    width: 75px;
    height: 21px;
    background: #d52d64;
    margin: 18px auto;
}


.features {
    width: 100%;
    background: #f1f2f7;
    padding: 28px 14% 42px;
}

.features h2 {
    text-align: center;
    color: #df2783;
    font-size: 39px;
    font-weight: 700;
    margin-bottom: 42px;
}

.feature-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.tablet-container {
    width: 45%;
    display: flex;
    justify-content: center;
}

.tablet {
    width: 260px;
    height: 195px;
    background: #e8e8e8;
    border-radius: 10px;
    padding: 14px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, .08);
    position: relative;
}

.tablet::before {
    content: "";
    width: 5px;
    height: 5px;
    background: #bbbbbb;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 50%;
}



.tablet-screen {
    width: 100%;
    height: 100%;
    background: white;
    padding-top: 40px;
}



.feature-text {
    width: 45%;
}

.feature-text h3 {
    color: #bb6594;
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 20px;
}

.feature-text p {
    width: 350px;
    font-size: 11px;
    line-height: 1.7;
    color: #333333;
    margin-bottom: 8px;
}

.feature-text h4 {
    color: #d3488b;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 8px;
}

.feature-text h4::before {
    content: "—";
    margin-right: 7px;
}


.feature-text li {
    font-size: 11px;
    line-height: 1.7;

    color: #333333;
}

.feature-text li i {
    color: #d84b91;
    margin-right: 6px;
}



.pricing {
    width: 100%;
    background: #20152f;
    padding: 25px 12% 38px;
    color: white;
}

.pricing h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.pricing-description {
    width: 570px;
    margin: 0 auto 38px;
    text-align: center;
    font-size: 10px;
    line-height: 1.55;
    color: #dddddd;
}


.plans {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.plan {
    width: 205px;
    height: 395px;
    background: white;
    color: #333333;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.plan-header {
    text-align: center;
    padding: 17px 10px 10px;
}

.plan-header i {
    font-size: 26px;
    color: #26344b;
    margin-bottom: 8px;
}

.plan:first-child .plan-header i {
    color: #df3c91;
}

.plan-header h3 {
    font-size: 13px;
    font-weight: 600;
}

.price {
    height: 48px;
    background: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.price strong {
    font-size: 23px;
    font-weight: 500;
}

.price span {
    font-size: 10px;
    color: #555555;
}

.plan-list {
    padding: 20px 20px 8px;
}

.plan-list li {
    font-size: 10px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.plan-list i {
    width: 12px;
    font-size: 9px;
}

.plan-list li:first-child i {
    color: #26344b;
}

.plan:first-child .plan-list li:first-child i {
    color: #df3c91;
}

.plan-description {
    font-size: 10px;
    line-height: 1.6;
    text-align: center;
    padding: 8px 22px 15px;
    margin-top: auto;
}

.subscribe {
    display: block;
    width: 110px;
    margin: 0 auto 10px;
    padding: 10px 5px;
    text-align: center;
    font-size: 10px;
    color: white;
    background: #251b48;
    border-radius: 2px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .2);
}

.subscribe.pink {
    background: #df2783;
}

.subscribe:hover {
    opacity: .85;
}

footer {
    width: 100%;
    height: 58px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14%;
    color: #333333;
    font-size: 15px;
}

.copyright span {
    color: #df2783;
    font-weight: 600;
}

.social {
    display: flex;
    gap: 16px;
}

.social a {
    color: #222222;
    font-size: 14px;
}

.social a:hover {
    color: #df2783;
}