* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #303030;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

 .navbar {
    width: 100%;
    height: 64px;
    background: #211735;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14%;
    color: white;
}



.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: white;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    font-weight: 700;
}

.brand {
    display: flex;
    flex-direction: column;
}

.brand strong {
    font-size: 13px;
    font-weight: 600;
}

.brand span {
    font-size: 8px;
    color: #b8b1c4;
}

 .navbar nav {
    display: flex;
    align-items: center;
    gap: 27px;
}

.navbar nav a {
    color: #aaa4b5;
    font-size: 12px;
}

.navbar nav a:hover {
    color: white;
}

.navbar .download-top {
    background: linear-gradient(90deg, #9333ea, #2563be);
    color: white;
    padding: 10px 19px;
    border-radius: 2px;
}

 .hero {
    width: 100%;
    height: 420px;
    display: flex;
    background: #201633;
}

.hero-left {
    width: 50%;
    height: 420px;
    background: #302253;
    color: white;
    padding-left: 14%;
    padding-top: 105px;
}

.hero-left h1 {
    font-size: 49px;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: 26px;
}

.hero-left p {
    width: 390px;
    font-size: 13px;
    line-height: 1.7;
    color: #eeeeee;
    margin-bottom: 27px;
}


.hero-buttons {
    display: flex;
    gap: 7px;
}

.btn-primary {
    background: white;
    color: #df4a96;
    padding: 12px 20px;
    font-size: 11px;
    border-radius: 3px;
}

.btn-secondary {
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 11px;
    border-radius: 3px;
}

.btn-primary:hover {
    opacity: .85;
}

.btn-secondary:hover {
    background: white;
    color: #302253;
}

.hero-right {
    width: 50%;
    height: 420px;
    position: relative;
    background: linear-gradient( rgba(32, 22, 51, .40),rgba(32, 22, 51, .40)
        ),
        url("../assets/images/hojasFondo.jpg");

    background-size: cover;
    background-position: center;
}


.phone {
    position: absolute;
    width: 150px;
    height: 295px;
    background: #f4f4f4;
    border-radius: 22px;
    left: 20%;
    top: 92px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .35), inset 0 0 0 2px #dddddd;
}

.phone::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 5px;
    background: #aaaaaa;
    border-radius: 10px;
    top: 8px;
    left: 54px;
}

.phone-screen {
    position: absolute;
    top: 17px;
    left: 10px;
    width: 130px;
    height: 260px;
    background: white;
    border-radius: 13px;
    padding-top: 85px;
}

.screen-title {
    width: 70px;
    height: 16px;
    background: #bcbcbc;
    margin: 0 auto 12px;
}

.screen-line {
    width: 92px;
    height: 6px;
    background: #bcbcbc;
    margin: 0 auto 7px;
}

.screen-line.small {
    width: 90px;
}

.screen-button {
    width: 75px;
    height: 21px;
    background: #d52d64;
    margin: 18px auto;
}


.features {
    width: 100%;
    background: #f1f2f7;
    padding: 28px 14% 42px;
}

.features h2 {
    text-align: center;
    color: #df2783;
    font-size: 39px;
    font-weight: 700;
    margin-bottom: 42px;
}

.feature-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.tablet-container {
    width: 45%;
    display: flex;
    justify-content: center;
}

.tablet {
    width: 260px;
    height: 195px;
    background: #e8e8e8;
    border-radius: 10px;
    padding: 14px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, .08);
    position: relative;
}