* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #303030;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

 .navbar {
    width: 100%;
    height: 64px;
    background: #211735;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14%;
    color: white;
}



.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: white;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    font-weight: 700;
}

.brand {
    display: flex;
    flex-direction: column;
}

.brand strong {
    font-size: 13px;
    font-weight: 600;
}

.brand span {
    font-size: 8px;
    color: #b8b1c4;
}

 .navbar nav {
    display: flex;
    align-items: center;
    gap: 27px;
}

.navbar nav a {
    color: #aaa4b5;
    font-size: 12px;
}

.navbar nav a:hover {
    color: white;
}

.navbar .download-top {
    background: linear-gradient(90deg, #9333ea, #2563be);
    color: white;
    padding: 10px 19px;
    border-radius: 2px;
}